@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
    transition: 0.5s;
}

.container3{
    max-width:1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #e1b382;
    padding: 30px 0 0 20px;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.footer-col h2{
    font-size: 18px;
    color: #494D5F;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}

.footer-col h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #F2F4F3;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;   
}

.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #494D5F;
    display: block;
    transform: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #e4decd;
    pad: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #e4decd;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #494D5F;
    transform: all 0.3s ease;
}

.footer-col .social-links a:hover{
    color: #e4decd;
    background-color: #e1b382;
}

@media(max-width:992px){
.footer-col{
    width: 50%;
    margin-bottom: 30px;
    
}
}

@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
    }